<ion-header>
  <ion-toolbar>
    <ion-title mode="md" style="text-align:center">Redefinir Senha</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--<ion-item> 
    <small><ion-label position="floating">Nome</ion-label></small>
    <ion-input type="text"></ion-input>
  </ion-item>-->
  <ion-item>
    <small><ion-label position="floating">Email</ion-label></small>
    <ion-input type="text" [(ngModel)]="userLogin.email"></ion-input>
  </ion-item>
  <ion-button mode="md" shape="round" fill="outline" expand="block" (click)="recuperarSenha()">Redefinir Senha</ion-button>
</ion-content>
