.card-config {
    margin: 175px 15px;
    padding:10px;
    border-radius: 15px;
}

.title-config{
    text-align: center;
}

.flex-center{
    text-align: center;
    align-items: center;
  }

.btn-config-2{
    margin: 10px 50px;
    font-size: 11px;
}