<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title class="align">
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list> <!--Aqui coloca o ngFor para cada feirante.-->
    <ion-card> <!--O que é essencial ter nos cards: 
      Nome (title), Bairro ou Área (subtitle), Breve descrição (content). A imagem é opcional.-->
        <img src="https://cdn.pixabay.com/photo/2014/09/19/19/09/man-452904_960_720.jpg" />
        <ion-card-header>
          <ion-card-title>José</ion-card-title>
          <ion-card-subtitle>Em Santana</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Produtor local, vendo grãos
        </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="https://cdn.pixabay.com/photo/2015/05/26/08/55/farmer-784319_960_720.jpg" />
          <ion-card-header>
            <ion-card-title>Ricardo</ion-card-title>
            <ion-card-subtitle>Em Imirim</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Produtor local, vendo verduras
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img src="https://www.promoview.com.br/images/2021/05/28/dia-do-feirante.jpg" />
          <ion-card-header>
            <ion-card-title>Carla</ion-card-title>
            <ion-card-subtitle>Em Casa Verde</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Vendo frutas
          </ion-card-content>
        </ion-card>
  </ion-list>  
</ion-content>
