.margin-config{
    text-align: center;
}

.card-config {
    margin: 45px 15px;
    padding:10px;
    border-radius: 15px;
  }

.btn-config-1{
    margin-bottom: -5px;
}
  
.btn-config-2{
    margin: 10px 50px;
}
  
.img-config{
    width: 46px;
    height: 44px;
    align-items: center;
}

.title-config{
    text-align: center;
}

.flex-center{
    text-align: center;
    align-items: center;
  }
  
.radio-config{
    font-size: small;
}


.spacing-config{
    padding-right: 10px;
}