<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" color="success">
  <div id="container">
        <ion-card class="card-config">
      <h1>Bem vindo!</h1>
      <ion-item>
        <small><ion-label position="floating">Email</ion-label></small>
        <ion-input type="email" [(ngModel)]="userLogin.email"></ion-input>
      </ion-item>
      <ion-item>
        <small><ion-label position="floating">Senha</ion-label></small>
        <ion-input type="password" [(ngModel)]="userLogin.senha"></ion-input>
      </ion-item>
      <ion-button class="btn-config-1" mode="ios" color="medium" size="small" fill="clear" (click)="abrirEsqueceuSenha()">Esqueceu a senha?</ion-button>
      <ion-button color="medium" fill="outline"class="btn-config-2" shape="round" expand="block" (click)="login()">Entrar</ion-button>
      <ion-button color="success" class="btn-config-2" shape="round" expand="block" (click)="abrirCadastrar()">Cadastrar</ion-button>
    </ion-card>
  </div>
</ion-content>